<div class="title">Employees</div>
<ng-container *ngIf="(employees | async)?.length; else notFound">
  <app-employee-table *ngIf="(employees | async) as emp"
                      (modify)="modify($event)"
                      [employees]="emp" >
  </app-employee-table>
</ng-container>
<ng-template #notFound>
  <div class="error">No employees found</div>
</ng-template>
<button class="create-btn"
        (click)="modify({action: modifyEnum.ADD, employee: null})">
  Create
</button>
<app-dialog
  *ngIf="isShowDialog"
  [type]="dialogType"
  [form]="form"
  (formValue)="onDialogClosed($event)">
</app-dialog>
